In [1]:
import swat
import pandas as pd
import numpy as np
from _config import login
import os

In [2]:
os.environ['CAS_CLIENT_SSL_CA_LIST']=r'/ext_str/beast_trustfiles/nBeast_trustfiles/trustedcerts.pem'
host = host = login()[2]
user,pswd = login()[0],login()[1]
conn = swat.CAS(host,5570,user,pswd)

In [7]:
df = pd.read_csv("/ext_str/data/pred_maintenance_data/creditcard.csv")
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [8]:
# Convert Types
for col in ['Time', 'Class']:
    df[col] = df[col].astype('object')

In [9]:
conn.upload(df,casout=dict(caslib="Public",name="sensor_data_orig"))  #Upload to CAS

NOTE: Cloud Analytic Services made the uploaded file available as table SENSOR_DATA_ORIG in caslib Public.
NOTE: The table SENSOR_DATA_ORIG has been created in caslib Public from binary data uploaded to Cloud Analytic Services.

[caslib]

 'Public'

[tableName]

 'SENSOR_DATA_ORIG'

[casTable]

 CASTable('SENSOR_DATA_ORIG', caslib='Public')

+ Elapsed: 5.45s, user: 4.18s, sys: 1.44s, mem: 229mb

In [11]:
conn.setsessopt(caslib="Public")
sensor_df = conn.CASTable("sensor_data_orig")
sensor_df.head()

NOTE: 'Public' is now the active caslib.

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,47976.0,-0.707156,-0.441712,2.213888,-2.553779,-1.086221,-0.049580,-0.111319,0.127855,-2.836333,...,-0.175349,-0.348474,0.087852,0.165013,0.069387,-0.498672,0.051137,0.065527,81.40,0
1,47976.0,-0.960817,1.106600,2.409413,2.653453,-0.395859,0.814656,-0.431668,0.779233,-0.953358,...,0.101842,0.314808,-0.062985,0.106368,-0.270366,0.104664,0.051035,0.041136,9.62,0
2,47977.0,-0.762411,0.433392,2.299015,-0.052328,-0.348554,0.752230,-0.227151,0.612588,0.389889,...,-0.016101,0.118634,-0.154345,-0.314135,-0.184167,0.351126,0.336834,0.151707,11.50,0
3,47977.0,-1.041809,-0.809752,0.374603,-1.535021,-0.592619,-0.541825,1.834309,-0.268547,-0.124425,...,-0.050407,-0.877073,1.053867,-0.029586,-0.487904,-0.499737,0.003555,0.185788,391.00,0
4,47977.0,-3.868393,2.826374,-1.405626,-3.862585,-0.628730,1.703338,-5.340258,-12.579636,-0.018954,...,-6.387002,1.837642,0.647266,-0.895500,0.113490,-1.271883,-0.005396,0.226561,6.05,0

In [12]:
# Drop the unnecessary column
sensor_df.altertable(columns= [dict(name="Amount",drop=True)])
sensor_df.columninfo()

[ColumnInfo]

    Column  ID     Type  RawLength  FormattedLength  NFL  NFD
 0    Time   1  varchar          8                8    0    0
 1      V1   2   double          8               12    0    0
 2      V2   3   double          8               12    0    0
 3      V3   4   double          8               12    0    0
 4      V4   5   double          8               12    0    0
 5      V5   6   double          8               12    0    0
 6      V6   7   double          8               12    0    0
 7      V7   8   double          8               12    0    0
 8      V8   9   double          8               12    0    0
 9      V9  10   double          8               12    0    0
 10    V10  11   double          8               12    0    0
 11    V11  12   double          8               12    0    0
 12    V12  13   double          8               12    0    0
 13    V13  14   double          8               12    0    0
 14    V14  15   double          8               12    0    0
 15    V15  16   double          8               12    0    0
 16    V16  17   double          8               12    0    0
 17    V17  18   double          8               12    0    0
 18    V18  19   double          8               12    0    0
 19    V19  20   double          8               12    0    0
 20    V20  21   double          8               12    0    0
 21    V21  22   double          8               12    0    0
 22    V22  23   double          8               12    0    0
 23    V23  24   double          8               12    0    0
 24    V24  25   double          8               12    0    0
 25    V25  26   double          8               12    0    0
 26    V26  27   double          8               12    0    0
 27    V27  28   double          8               12    0    0
 28    V28  29   double          8               12    0    0
 29  Class  31  varchar          1                1    0    0

+ Elapsed: 0.0115s, user: 0.00577s, sys: 0.00252s, mem: 1.35mb

In [13]:
conn.loadactionset(actionset='svdd')
conn.loadactionset(actionset='fedSQL')

NOTE: Added action set 'svdd'.
NOTE: Added action set 'fedSQL'.

[actionset]

 'fedSQL'

+ Elapsed: 0.0229s, user: 0.00758s, sys: 0.00849s, mem: 0.727mb

In [14]:
conn.datastep.runcode(
code = """data public.sensor_train public.sensor_score;
set public.sensor_data_orig;
if class eq 0 then output public.sensor_train;
else output public.sensor_score;
run;"""
)

NOTE: Varchar values have been converted to numeric values at the places given by: (Line):(Column).
      0:77

[InputCasTables]

    casLib              Name    Rows  Columns  \
 0  Public  sensor_data_orig  284807       30

                                         casTable
 0  CASTable('sensor_data_orig', caslib='Public')

[OutputCasTables]

    casLib          Name    Rows  Columns  Append  \
 0  Public  sensor_train  284315       30     NaN
 1  Public  sensor_score     492       30     NaN

                                     casTable
 0  CASTable('sensor_train', caslib='Public')
 1  CASTable('sensor_score', caslib='Public')

+ Elapsed: 0.498s, user: 0.72s, sys: 0.692s, mem: 51.4mb

In [15]:
train_df = conn.CASTable("sensor_train")
train_df.altertable(columns= [dict(name="Class",drop=True)])
train_df.columninfo()

[ColumnInfo]

    Column  ID     Type  RawLength  FormattedLength  NFL  NFD
 0    Time   1  varchar          8                8    0    0
 1      V1   2   double          8               12    0    0
 2      V2   3   double          8               12    0    0
 3      V3   4   double          8               12    0    0
 4      V4   5   double          8               12    0    0
 5      V5   6   double          8               12    0    0
 6      V6   7   double          8               12    0    0
 7      V7   8   double          8               12    0    0
 8      V8   9   double          8               12    0    0
 9      V9  10   double          8               12    0    0
 10    V10  11   double          8               12    0    0
 11    V11  12   double          8               12    0    0
 12    V12  13   double          8               12    0    0
 13    V13  14   double          8               12    0    0
 14    V14  15   double          8               12    0    0
 15    V15  16   double          8               12    0    0
 16    V16  17   double          8               12    0    0
 17    V17  18   double          8               12    0    0
 18    V18  19   double          8               12    0    0
 19    V19  20   double          8               12    0    0
 20    V20  21   double          8               12    0    0
 21    V21  22   double          8               12    0    0
 22    V22  23   double          8               12    0    0
 23    V23  24   double          8               12    0    0
 24    V24  25   double          8               12    0    0
 25    V25  26   double          8               12    0    0
 26    V26  27   double          8               12    0    0
 27    V27  28   double          8               12    0    0
 28    V28  29   double          8               12    0    0

+ Elapsed: 0.0162s, user: 0.00272s, sys: 0.00569s, mem: 1.36mb

In [16]:
train_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28
0,129838.0,-0.004347,0.267988,-0.313916,-0.995572,0.449456,-0.300115,1.331108,-0.130606,-0.393184,...,-0.168198,0.166213,0.438560,1.053746,0.110903,0.746038,0.013762,0.100255,-0.055466,-0.003750
1,129839.0,1.108437,-2.155495,-1.065699,1.075614,-1.295889,-0.357997,0.056224,-0.282678,-0.334486,...,-1.367280,0.380672,-0.017828,-0.552627,-0.203689,-0.152931,-0.330181,-0.719227,-0.027099,0.057367
2,129840.0,-0.900437,1.754512,2.543339,3.973365,0.089685,2.086978,-0.430726,0.553758,-1.026386,...,1.059144,0.759936,0.086432,0.621599,-0.362282,0.051794,0.241988,0.577976,0.617500,0.299683
3,129841.0,-4.686022,-4.794896,0.912916,1.956083,1.940879,-1.634924,0.187598,-0.030726,0.410662,...,-0.016370,-0.825628,-0.032220,1.362627,4.146384,-0.121637,0.780739,-0.339601,0.804874,-0.362793
4,129841.0,-0.903289,-0.969507,-0.801599,-0.864546,1.872375,-1.969551,0.320674,0.022822,0.599813,...,-1.170537,0.109077,0.208618,0.211228,0.724244,-0.148929,-1.797238,-0.654906,0.259543,0.401326

In [17]:
feature_list = [i for i in train_df if 'V' in i]
# model spec - could possibly use tuneMethod param 
conn.svdd.svddtrain(table=train_df,inputs=feature_list,bw=2.8290,solver="ACTSET", 
                    savestate="sense_model",
                   output=dict(casout=dict(name="train_model",replace=True)),
                    id = ["Time"])

NOTE: Using Active Set Solver.
NOTE: Beginning data reading...
NOTE: Data reading complete.
NOTE: Starting processing for Model 1 (with bandwidth=2.829).
NOTE: Ending processing for Model 1 (with bandwidth=2.829).
NOTE: Output generation complete.
NOTE: Support vector table generation complete.
NOTE: Beginning save state generation...
NOTE: Wrote 695405 bytes to the savestate file sense_model.
NOTE: Save state generation complete.

[NObs]

 Number of Observations

    RowId                         Type         N
 0  NREAD  Number of Observations Read  284315.0
 1  NUSED  Number of Observations Used  284315.0

[ModelInfo]

 Model Information

        RowId                   Description         Value     nValue
 0  OPTMETHOD           Optimization Method    Active set        NaN
 1    KERTYPE                   Kernel Type           RBF        NaN
 2         BW          RBF Kernel Bandwidth         2.829   2.829000
 3   RELSCALE      Bandwidth Relative Scale  2.3381386127   2.338139
 4       FRAC     Expected Outlier Fraction          1E-6   0.000001
 5     OPTTOL        Optimization Tolerance        0.0001   0.000100
 6   NINTVARS  Number of Interval Variables            28  28.000000
 7   NNOMVARS   Number of Nominal Variables             0   0.000000

[TrainingResults]

 Training Results

     RowId                            Description        Value
 0     NSV              Number of Support Vectors  2947.000000
 1    NSVB  Number of Support Vectors on Boundary  2947.000000
 2  NDROBS         Number of Dropped Observations    51.000000
 3  THRESH               Threshold R Square Value     0.999527
 4     C_R                   Constant (C_r) Value     0.000609
 5   RTIME                     Run Time (Seconds)   129.553088

[OptSummary]

 Optimization Summary

        RowId           Description         Value    nValue
 0     NITERS  Number of Iterations             3  3.000000
 1        OBJ       Objective Value  0.0006094514  0.000609
 2      INFEA         Infeasibility  0.0000994573  0.000099
 3  OPTSTATUS   Optimization Status       Optimal       NaN
 4      DEGEN            Degenerate            No  0.000000

[StatusTable]

 Status Table

      RowId    Model   Status
 0  Model_1  Model 1  Success

[OutputCasTables]

    casLib         Name Label  Rows  Columns  \
 0  Public  train_model        2947       31

                                    casTable
 0  CASTable('train_model', caslib='Public')

+ Elapsed: 133s, user: 307s, sys: 15.5s, mem: 7.7e+03mb

In [18]:
conn.tableinfo()

,Name,Rows,Columns,IndexedColumns,Encoding,CreateTimeFormatted,ModTimeFormatted,AccessTimeFormatted,JavaCharSet,CreateTime,...,Global,Repeated,View,SourceName,SourceCaslib,Compressed,Creator,Modifier,SourceModTimeFormatted,SourceModTime
0,SENSOR_DATA_ORIG,284807,30,0,utf-8,2019-04-08T00:31:53+00:00,2019-04-08T00:32:26+00:00,2019-04-08T00:32:43+00:00,UTF8,1.870303e+09,...,0,0,0,,,0,viyademo01,,2019-04-08T00:31:52+00:00,1.870303e+09
1,SENSOR_TRAIN,284315,29,0,utf-8,2019-04-08T00:32:43+00:00,2019-04-08T00:32:53+00:00,2019-04-08T00:40:12+00:00,UTF8,1.870303e+09,...,0,0,0,,,0,viyademo01,,,NaN
2,SENSOR_SCORE,492,30,0,utf-8,2019-04-08T00:32:43+00:00,2019-04-08T00:32:43+00:00,2019-04-08T00:32:43+00:00,UTF8,1.870303e+09,...,0,0,0,,,0,viyademo01,,,NaN
3,TRAIN_MODEL,2947,31,0,utf-8,2019-04-08T00:40:14+00:00,2019-04-08T00:40:14+00:00,2019-04-08T00:40:14+00:00,UTF8,1.870303e+09,...,0,0,0,,,0,viyademo01,,,NaN
4,SENSE_MODEL,1,2,0,utf-8,2019-04-08T00:42:25+00:00,2019-04-08T00:42:25+00:00,2019-04-08T00:42:25+00:00,UTF8,1.870303e+09,...,0,1,0,,,0,viyademo01,,,NaN
5,GAMING_CHURN_NEW,3333,21,0,utf-8,2019-03-27T01:32:27+00:00,2019-03-27T01:32:27+00:00,2019-04-07T19:01:57+00:00,UTF8,1.869270e+09,...,1,0,0,GAMING_CHURN_NEW.sashdat,Public,0,viyademo01,,2019-01-03T15:47:09+00:00,1.862150e+09

In [19]:
outmodel = conn.CASTable("sense_model")
#outmodel.head()
conn.loadactionset(actionset='astore')

NOTE: Added action set 'astore'.

[actionset]

 'astore'

+ Elapsed: 0.0252s, user: 0.00483s, sys: 0.00993s, mem: 0.641mb

In [20]:
# Score the score data and get the Summary by Group 
score_df = conn.CASTable("sensor_score")
score_df.altertable(columns= [dict(name="Class",drop=True)])
result = conn.aStore.score(out = {"name":"output_df","replace":True}
                      ,rstore = "sense_model"
                      ,table=score_df
                     )
out = conn.CASTable("output_df")
out.groupby("_SVDDSCORE_").summary()

[ByGroupInfo]

 ByGroupInfo

    _SVDDSCORE_ _SVDDSCORE__f         _key_
 0         -1.0            -1            -1
 1          1.0             1             1

[ByGroup1.Summary]

 Descriptive Statistics for OUTPUT_DF

                      Column       Min       Max     N  NMiss      Mean  \
 _SVDDSCORE_
 -1           _SVDDDISTANCE_  0.997956  0.999495  88.0    0.0  0.998964
 -1              _SVDDSCORE_ -1.000000 -1.000000  88.0    0.0 -1.000000

                    Sum       Std    StdErr           Var        USS       CSS  \
 _SVDDSCORE_
 -1           87.908803  0.000401  0.000043  1.604225e-07  87.817714  0.000014
 -1          -88.000000  0.000000  0.000000  0.000000e+00  88.000000  0.000000

                    CV        TValue          ProbT  Skewness  Kurtosis
 _SVDDSCORE_
 -1           0.040094  23396.903942  1.524884e-297 -0.626814 -0.465911
 -1          -0.000000           NaN            NaN       NaN       NaN

[ByGroup2.Summary]

 Descriptive Statistics for OUTPUT_DF

                      Column       Min       Max      N  NMiss      Mean  \
 _SVDDSCORE_
 1            _SVDDDISTANCE_  0.999529  1.000609  404.0    0.0  1.000389
 1               _SVDDSCORE_  1.000000  1.000000  404.0    0.0  1.000000

                     Sum       Std    StdErr           Var         USS  \
 _SVDDSCORE_
 1            404.157233  0.000297  0.000015  8.805780e-08  404.314563
 1            404.000000  0.000000  0.000000  0.000000e+00  404.000000

                   CSS        CV        TValue  ProbT  Skewness  Kurtosis
 _SVDDSCORE_
 1            0.000035  0.029663  67760.366676    0.0 -1.346208  0.646373
 1            0.000000  0.000000           NaN    NaN       NaN       NaN

+ Elapsed: 0.124s, user: 0.0204s, sys: 0.0873s, mem: 11.5mb

In [21]:
test = conn.aStore.score(out = {"name":"sensor_df_output","replace":True}
                      ,rstore = "sense_model"
                      ,table=sensor_df
                     )

In [22]:
sensor_out = conn.CASTable('sensor_df_output')
sensor_out.groupby("_SVDDSCORE_").summary()

[ByGroupInfo]

 ByGroupInfo

    _SVDDSCORE_ _SVDDSCORE__f         _key_
 0         -1.0            -1            -1
 1          1.0             1             1

[ByGroup1.Summary]

 Descriptive Statistics for SENSOR_DF_OUTPUT

                      Column       Min       Max         N  NMiss      Mean  \
 _SVDDSCORE_
 -1           _SVDDDISTANCE_  0.997389  0.999528  281754.0    0.0  0.998739
 -1              _SVDDSCORE_ -1.000000 -1.000000  281754.0    0.0 -1.000000

                       Sum      Std        StdErr           Var            USS  \
 _SVDDSCORE_
 -1           281398.70562  0.00034  6.396283e-07  1.152724e-07  281043.891747
 -1          -281754.00000  0.00000  0.000000e+00  0.000000e+00  281754.000000

                   CSS        CV        TValue  ProbT  Skewness  Kurtosis
 _SVDDSCORE_
 -1           0.032478  0.033995  1.561436e+06    0.0  -0.06008 -0.425364
 -1           0.000000 -0.000000           NaN    NaN       NaN       NaN

[ByGroup2.Summary]

 Descriptive Statistics for SENSOR_DF_OUTPUT

                      Column       Min       Max       N  NMiss      Mean  \
 _SVDDSCORE_
 1            _SVDDDISTANCE_  0.999528  1.000609  3053.0    0.0  0.999722
 1               _SVDDSCORE_  1.000000  1.000000  3053.0    0.0  1.000000

                      Sum       Std    StdErr           Var          USS  \
 _SVDDSCORE_
 1            3052.151366  0.000314  0.000006  9.844425e-08  3051.303269
 1            3053.000000  0.000000  0.000000  0.000000e+00  3053.000000

                 CSS        CV         TValue  ProbT  Skewness  Kurtosis
 _SVDDSCORE_
 1            0.0003  0.031385  176054.643076    0.0  2.182316  3.135586
 1            0.0000  0.000000            NaN    NaN       NaN       NaN

+ Elapsed: 0.0794s, user: 0.159s, sys: 0.0128s, mem: 11.5mb

In [26]:
# To download the ASTORE
svdd_model=conn.astore.download(rstore="sense_model")
with open('svdd_anomaly.astore','wb') as file:
    file.write(svdd_model['blob'])

In [28]:
conn.astore.describe("sense_model")  # Information required for ESP

[Key]

                                         Key
 0  41071883E0C6185A43CD6F9DA0F73C5DC7AE1F1A

[Description]

          Attribute               Value
 0  Analytic Engine                svdd
 1     Time Created  07Apr2019:20:42:24

[InputVariables]

 Input Variables

     Name  Length   Role      Type    RawType FormatName
 0     V1     8.0  Input  Interval        Num
 1     V2     8.0  Input  Interval        Num
 2     V3     8.0  Input  Interval        Num
 3     V4     8.0  Input  Interval        Num
 4     V5     8.0  Input  Interval        Num
 5     V6     8.0  Input  Interval        Num
 6     V7     8.0  Input  Interval        Num
 7     V8     8.0  Input  Interval        Num
 8     V9     8.0  Input  Interval        Num
 9    V10     8.0  Input  Interval        Num
 10   V11     8.0  Input  Interval        Num
 11   V12     8.0  Input  Interval        Num
 12   V13     8.0  Input  Interval        Num
 13   V14     8.0  Input  Interval        Num
 14   V15     8.0  Input  Interval        Num
 15   V16     8.0  Input  Interval        Num
 16   V17     8.0  Input  Interval        Num
 17   V18     8.0  Input  Interval        Num
 18   V19     8.0  Input  Interval        Num
 19   V20     8.0  Input  Interval        Num
 20   V21     8.0  Input  Interval        Num
 21   V22     8.0  Input  Interval        Num
 22   V23     8.0  Input  Interval        Num
 23   V24     8.0  Input  Interval        Num
 24   V25     8.0  Input  Interval        Num
 25   V26     8.0  Input  Interval        Num
 26   V27     8.0  Input  Interval        Num
 27   V28     8.0  Input  Interval        Num
 28  Time     8.0     Id            Character

[OutputVariables]

 Output Variables

              Name  Length       Type          Label
 0            Time     8.0  Character
 1  _SVDDDISTANCE_     8.0        Num  SVDD Distance
 2     _SVDDSCORE_     8.0        Num     SVDD Score

+ Elapsed: 0.0773s, user: 0.0827s, sys: 0.00658s, mem: 10.4mb

In [29]:
conn.close()